.product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .product-card {
    width: calc(33.33% - 20px);
    max-width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
  }

  .product-card h3 {
    margin-top: 0;
  }

  .product-card button {
    background-color: #014856;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
  }

  @media (max-width: 768px) {
    .product-card {
      width: calc(50% - 20px);
    }
  }

  @media (max-width: 480px) {
    .product-card {
      width: 100%;
    }
  }



  /*Estilos carrito de compras*/
  .cart-container {
    position: fixed;
    top: 0;
    right: 0;
    padding: 10px;
    background-color: #f2f2f2;
    border-bottom-left-radius: 5px;
  }

  .cart-container h3 {
    margin: 0;
  }

  .cart-container p {
    margin: 0;
  }